.profile-wrapper{

    position:relative;

}

.profile-card{

    display:flex;

    align-items:center;

    gap:12px;

    cursor:pointer;

}

.avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-weight:bold;

}

.profile-card h4{

    margin:0;

    font-size:15px;

}

.profile-card small{

    color:#777;

}

.dropdown{

    position:absolute;

    right:0;

    top:60px;

    width:220px;

    background:white;

    border-radius:15px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    overflow:hidden;

    z-index:999;

}

.dropdown a{

    display:block;

    padding:14px 18px;

    text-decoration:none;

    color:#333;

}

.dropdown a:hover{

    background:#f4f4f4;

}

.dropdown button{

    width:100%;

    border:none;

    background:#ef4444;

    color:white;

    padding:14px;

    cursor:pointer;

}